In [1]:
%pylab inline
import pandas as pd
import seaborn

Populating the interactive namespace from numpy and matplotlib

In [2]:
pwd

'C:\\Users\\16478\\Untitled Folder'

In [11]:
data = pd.read_csv("GradeBook_Unsolved.csv")

In [12]:
data

,Student Name,Midterm Exam,Midterm Paper,Final Exam,Final Paper,Final Grade,Pass/Fail,Letter Grade
0,Jackqueline Durbin,85,84,90,56,NaN,NaN,NaN
1,Lina Petters,48,57,97,95,NaN,NaN,NaN
2,Hilaria Mcgehee,96,100,97,87,NaN,NaN,NaN
3,Leroy Dress,52,52,64,63,NaN,NaN,NaN
4,Raelene Bundy,89,57,90,85,NaN,NaN,NaN
5,Wayne Mellor,71,93,97,55,NaN,NaN,NaN
6,Sheena Bolten,97,90,70,83,NaN,NaN,NaN
7,Shyla Cupples,67,62,48,43,NaN,NaN,NaN
8,Ben Goforth,100,94,90,95,NaN,NaN,NaN
9,Alva Renshaw,88,61,45,47,NaN,NaN,NaN
10,Lucio Elswick,44,87,43,55,NaN,NaN,NaN
11,Mariana Hillwig,83,42,67,46,NaN,NaN,NaN
12,Elna Doane,59,43,43,52,NaN,NaN,NaN
13,Sang Pascarelli,54,47,92,57,NaN,NaN,NaN
14,Arianna Wagar,73,98,59,73,NaN,NaN,NaN
15,Antonio Kaur,75,72,87,53,NaN,NaN,NaN
16,Alethea Wyllie,90,97,100,97,NaN,NaN,NaN
17,Concetta Lucht,95,80,88,89,NaN,NaN,NaN
18,Jude Capetillo,66,100,93,82,NaN,NaN,NaN
19,Gladis Rank,46,74,92,87,NaN,NaN,NaN
20,Luciano Cuffie,94,92,86,100,NaN,NaN,NaN
21,Oren Okelley,55,52,76,48,NaN,NaN,NaN
22,Ha Ruano,41,44,95,55,NaN,NaN,NaN
23,Damon Sohn,53,97,74,53,NaN,NaN,NaN

In [20]:
data["Final Grade"]=round(0.25*data["Midterm Exam"]+0.25*data["Midterm Paper"]+0.25*data["Final Exam"]+0.25*data["Final Paper"])
data

,Student Name,Midterm Exam,Midterm Paper,Final Exam,Final Paper,Final Grade,Pass/Fail,Letter Grade
0,Jackqueline Durbin,85,84,90,56,79.0,NaN,NaN
1,Lina Petters,48,57,97,95,74.0,NaN,NaN
2,Hilaria Mcgehee,96,100,97,87,95.0,NaN,NaN
3,Leroy Dress,52,52,64,63,58.0,NaN,NaN
4,Raelene Bundy,89,57,90,85,80.0,NaN,NaN
5,Wayne Mellor,71,93,97,55,79.0,NaN,NaN
6,Sheena Bolten,97,90,70,83,85.0,NaN,NaN
7,Shyla Cupples,67,62,48,43,55.0,NaN,NaN
8,Ben Goforth,100,94,90,95,95.0,NaN,NaN
9,Alva Renshaw,88,61,45,47,60.0,NaN,NaN
10,Lucio Elswick,44,87,43,55,57.0,NaN,NaN
11,Mariana Hillwig,83,42,67,46,60.0,NaN,NaN
12,Elna Doane,59,43,43,52,49.0,NaN,NaN
13,Sang Pascarelli,54,47,92,57,62.0,NaN,NaN
14,Arianna Wagar,73,98,59,73,76.0,NaN,NaN
15,Antonio Kaur,75,72,87,53,72.0,NaN,NaN
16,Alethea Wyllie,90,97,100,97,96.0,NaN,NaN
17,Concetta Lucht,95,80,88,89,88.0,NaN,NaN
18,Jude Capetillo,66,100,93,82,85.0,NaN,NaN
19,Gladis Rank,46,74,92,87,75.0,NaN,NaN
20,Luciano Cuffie,94,92,86,100,93.0,NaN,NaN
21,Oren Okelley,55,52,76,48,58.0,NaN,NaN
22,Ha Ruano,41,44,95,55,59.0,NaN,NaN
23,Damon Sohn,53,97,74,53,69.0,NaN,NaN

In [49]:
#print(data.iterrows())


for index, rows in data.iterrows():    
    if data["Final Grade"][index]>=60.0:
        data["Pass/Fail"][index]="P"
    else:
       data["Pass/Fail"][index]="F"

C:\Users\16478\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\16478\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

          Student Name  Midterm Exam  Midterm Paper  Final Exam  Final Paper  \
0   Jackqueline Durbin            85             84          90           56
1         Lina Petters            48             57          97           95
2      Hilaria Mcgehee            96            100          97           87
3          Leroy Dress            52             52          64           63
4        Raelene Bundy            89             57          90           85
5         Wayne Mellor            71             93          97           55
6        Sheena Bolten            97             90          70           83
7        Shyla Cupples            67             62          48           43
8          Ben Goforth           100             94          90           95
9         Alva Renshaw            88             61          45           47
10       Lucio Elswick            44             87          43           55
11     Mariana Hillwig            83             42          67           46
12          Elna Doane            59             43          43           52
13     Sang Pascarelli            54             47          92           57
14       Arianna Wagar            73             98          59           73
15        Antonio Kaur            75             72          87           53
16      Alethea Wyllie            90             97         100           97
17      Concetta Lucht            95             80          88           89
18      Jude Capetillo            66            100          93           82
19         Gladis Rank            46             74          92           87
20      Luciano Cuffie            94             92          86          100
21        Oren Okelley            55             52          76           48
22            Ha Ruano            41             44          95           55
23          Damon Sohn            53             97          74           53

    Final Grade Pass/Fail  Letter Grade
0          79.0         P           NaN
1          74.0         P           NaN
2          95.0         P           NaN
3          58.0         F           NaN
4          80.0         P           NaN
5          79.0         P           NaN
6          85.0         P           NaN
7          55.0         F           NaN
8          95.0         P           NaN
9          60.0         P           NaN
10         57.0         F           NaN
11         60.0         P           NaN
12         49.0         F           NaN
13         62.0         P           NaN
14         76.0         P           NaN
15         72.0         P           NaN
16         96.0         P           NaN
17         88.0         P           NaN
18         85.0         P           NaN
19         75.0         P           NaN
20         93.0         P           NaN
21         58.0         F           NaN
22         59.0         F           NaN
23         69.0         P           NaN

In [16]:
data.describe()

,Midterm Exam,Midterm Paper,Final Exam,Final Paper,Final Grade,Pass/Fail,Letter Grade
count,24.000000,24.000000,24.000000,24.000000,0.0,0.0,0.0
mean,71.708333,73.958333,78.458333,69.000000,NaN,NaN,NaN
std,19.523629,20.964731,19.049088,19.392962,NaN,NaN,NaN
min,41.000000,42.000000,43.000000,43.000000,NaN,NaN,NaN
25%,53.750000,55.750000,66.250000,53.000000,NaN,NaN,NaN
50%,72.000000,77.000000,87.500000,60.000000,NaN,NaN,NaN
75%,89.250000,93.250000,92.250000,87.000000,NaN,NaN,NaN
max,100.000000,100.000000,100.000000,100.000000,NaN,NaN,NaN